<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>568507595325-sdlc5b0cp4a3kqrac820kb0qlh0p9e72.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.568507595325-sdlc5b0cp4a3kqrac820kb0qlh0p9e72</string>
	<key>API_KEY</key>
	<string>AIzaSyARiBBQZ8m4VXLrTegmG2iib5tpWx2rEsg</string>
	<key>GCM_SENDER_ID</key>
	<string>568507595325</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.starthackDeltaBellfood</string>
	<key>PROJECT_ID</key>
	<string>starthack-delta</string>
	<key>STORAGE_BUCKET</key>
	<string>starthack-delta.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:568507595325:ios:c426bc44572311b7850854</string>
</dict>
</plist>